rir-generator
numpy
scipy
matplotlib
soundfile
sounddevice
pydantic
pydantic_settings
fft-conv-pytorch
librosa
wandb
umap-learn
seaborn
tqdm
torchviz
torch_stoi
audiomentations

torch
torchvision
torchaudio

colorednoise

scikit-learn
lightning
